@import '../variables';
@import '../mixins';

html, body {
  min-height: 100%;
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  position: relative;
  overflow-x: hidden;
  background: $bg-color url('/images/bg-noise.jpg') repeat center center;
}
#sapper {
  height: 100%;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: var(--container-width)
 
}

.columns {
  display: grid;
  gap: var(--container-padding);
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}