@import '../variables';
@import '../mixins';

html, body {
  min-height: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  padding: 0;
  margin: 0;
  position: relative;
  padding: 1.5rem 8%;
  background-color: var(--bg-color);
  background-image: var(--gradient), url('/images/noise.png');
  background-blend-mode: overlay;
  background-position: center center;
}
#sapper {
  height: 100%;
}


.content {
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}