//
// COLORS
// ----------------------------------------------
$white: #fff;
$red: #ff3864;
$dark-red: #c92347;
$purple: #743ad5;
$teal: #4afff7;
$lavender: #a9bcea;

$light-blue: #6a97b9;
$blue: #83dbff;
$dark-blue: #0f293b;

$light-gray: #ececec;
$dark-gray: #131313;

$text-color: $white;
$title-color: $blue;

$bg-color: #24203c;
$content-bg-color: #081a27;
$border-color: #2f455d;
$input-bg: #1d2c3c;


@mixin colors-cssvars {
  :root {
    --white: #{$white};
    --red: #{$red};
    --dark-red: #{$dark-red};
    --purple: #{$purple};
    --teal: #{$teal};
    --lavender: #{$lavender};

    --blue: #{$blue};
    --light-blue: #{$light-blue};
    --dark-blue: #{$dark-blue};

    --dark-gray: #{$dark-gray};

    --text-color: #{$text-color};
    --title-color: #{$title-color};

    --bg-color: #{$bg-color};
    --content-bg-color: #{$content-bg-color};
    --border-color: #{$border-color};
    --input-bg: #{$input-bg};

    --gradient: linear-gradient(-45deg, #{$light-blue}, #{$lavender});
    --gradient-purple: linear-gradient(-45deg, #{$lavender}, #{$blue});
    --bg-gradient: radial-gradient(circle farthest-side, #187e79, #24203c);

  }
}