//
// COLORS
// ----------------------------------------------
$white: #fff;
$red: #ff3864;
$dark-red: #c92347;
$purple: #743ad5;
$teal: #4afff7;
$blue: #83dbff;

$light-gray: #ececec;
$dark-gray: #131313;

$text-color: $teal;
$title-color: $blue;

$bg-color: $dark-gray;
$content-bg-color: #081a27;
$border-color: #2f455d;
$input-bg: #1d2c3c;


@mixin colors-cssvars {
  :root {
    --white: #{$white};
    --red: #{$red};
    --dark-red: #{$dark-red};
    --purple: #{$purple};
    --teal: #{$teal};
    --blue: #{$blue};


    --dark-gray: #{$dark-gray};

    --text-color: #{$text-color};
    --title-color: #{$title-color};

    --bg-color: #{$bg-color};
    --content-bg-color: #{$content-bg-color};
    --border-color: #{$border-color};
    --input-bg: #{$input-bg};

    --gradient: linear-gradient(-45deg, #{$purple}, #{$red});
  }
}