//
// COLORS
// ----------------------------------------------
$white: #fff;
$red: #ff3864;
$dark-red: #c92347;

$lavender: #a9bcea;
$light-purple: #c9a9ff;
$purple: #743ad5;
$dark-purple: #24203c;

$teal: #4afff7;
$dark-teal: #187e79;

$light-blue: #6a97b9;
$blue: #83dbff;
$dark-blue: #0f2b4c;


$light-gray: #ececec;
$dark-gray: #131313;

$text-color: $white;
$title-color: $blue;

$bg-color: #24203c;
$content-bg-color: #141332;
$border-color: #2f455d;
$input-bg: #1d2c3c;


@mixin colors-cssvars {
  :root {
    --white: #{$white};
    --red: #{$red};
    --dark-red: #{$dark-red};
    
    --teal: #{$teal};
    --dark-teal: #{$dark-teal};

    --lavender: #{$lavender};
    --purple: #{$purple};
    --dark-purple: #{$dark-purple};
    
    --blue: #{$blue};
    --light-blue: #{$light-blue};
    --dark-blue: #{$dark-blue};

    --dark-gray: #{$dark-gray};

    --text-color: #{$text-color};
    --title-color: #{$title-color};

    --bg-color: #{$bg-color};
    --content-bg-color: #{$content-bg-color};
    --border-color: #{$border-color};
    --input-bg: #{$input-bg};

    --gradient: linear-gradient(-45deg, #{$light-blue}, #{$lavender});
    --gradient-purple: linear-gradient(-45deg, #{$lavender}, #{$blue});
    --bg-gradient: radial-gradient(
        circle farthest-side, 
        #{$dark-teal}, 
        #{$dark-purple}
      );
    --content-bg-highlight: radial-gradient(
        circle closest-corner at center -50px, 
        #{rgba($light-purple, 0.25)}, 
        #{rgba($light-purple, 0)}
      );
    --gradient-topbar: linear-gradient(
        -45deg, 
        #{rgba($light-purple, 0)},
        #{rgba($light-purple, 0.15)} 
      );

  }
}