//
// SIZES
// ----------------------------------------------

// Breakpoints
$breakpoint-sm: 560px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;


@mixin sizes-cssvars {
  :root {
    --breakpoint-sm: #{$breakpoint-sm};
    --breakpoint-md: #{$breakpoint-md};
    --breakpoint-lg: #{$breakpoint-lg};
    --breakpoint-xl: #{$breakpoint-xl};
    --container-padding: 3vw;
  }
  @include min-width($breakpoint-sm) {
    :root {
      --container-padding: 1.5rem;
    }
  }
}